body {
  background-color: var(--primary-bcg-colors);
  color: var(--primary-text-colors);
  font-family: var(--aireexterior);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1250px) {
  .container {
    width: 1250px;
  }
}

:root {
  --roboto: "Roboto", sans-serif;
  --aireexterior: "Bebas Neue", cursive;
  --pulsar-original: "Rubik", sans-serif;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-bcg-colors: #141c24;
  --primary-text-colors: #ffffff;
  --light-blue-color: #00c5ff;
  --logo-color: #57d6ff;
}

.menu__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__link, .logo {
  text-decoration: none;
  font-style: normal;
}

.mobile-menu {
  position: fixed;
  background-color: white;
  -webkit-box-shadow: black;
          box-shadow: black;
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: right --transition-duration;
  transition: right --transition-duration;
}
.mobile-menu.is-open {
  right: 0%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__button {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 10px;
  right: 10px;
  z-index: 25;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
@media screen and (min-width: 767.98px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__icons:focus,
.mobile-menu__icons:hover {
  fill: red;
}

.icon-cross {
  display: none;
}

.is-open .icon-cross {
  display: block;
  position: fixed;
}
.is-open .icon-menu {
  display: none;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: red;
  -webkit-box-shadow: black;
          box-shadow: black;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color --transition-duration;
  transition: background-color --transition-duration;
}
.button:focus, .button:hover {
  background-color: green;
}
.button:active {
  opacity: 0.8;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media screen and (max-width: 321.98px) {
  .button {
    padding: 10px 27px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 49px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--pulsar-original);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 0.95;
  color: var(--logo-color);
}

.logo-icon {
  fill: var(--logo-color);
  margin-right: 17px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 46px;
}
.menu__link {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--primary-text-colors);
}/*# sourceMappingURL=main.css.map */