.how-it-works-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    width: 160px;
    height: 2px;
    content: '';
    margin-left: -120px;
    background-color: red;
  }
}

.how-it-works-icon {
  // fill: red;
  // stroke: green;
  width: 800px;
  height: 800px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 12px #0594c0);
}

.how-it-works-icon-metka {
  position: absolute;
  z-index: 15;
  top: -40%;
  left: -17%;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 42px #0594c0);
}
