:root {
  // Fonts
  --roboto: 'Roboto', sans-serif;
  --aireexterior: 'Bebas Neue', cursive;
  --pulsar-original: 'Rubik', sans-serif;

  //Transition
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //Fundamental colors
  --primary-bcg-colors: #141c24;
  --primary-text-colors: #ffffff;
  --light-blue-color: #00c5ff;
  --logo-color: #57d6ff;
  --subtitle-color: #57d6ff;

  // Header

  // Hero

  // Footer

  //Mobile menu
}
